
.landing-img {
    width: 550px;
    height: 100%;
    transform: rotate(-45deg);
    background-size: contain;

}

.landing-layout {
    height: 100vh;
    background-image: url("../images/bg-landing.png");
    background-size: cover;  
}


.btn {
    padding: 15px 30px;
    border-radius: 6px;
    border: none;
    transition: ease 1s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn.button-top-left{
    margin: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.btn.button-buttom-left {
    margin: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.btn.button-center  {
    font-size: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}


.btn.button-bottom-right {
    margin: 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}



.btn-primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--white);
    color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--black);
}

.btn-secondary:hover {
    background-color: var(--black);
    color: var(--secondary);
}

.btn-secondary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-secondary:disabled:hover {
    background-color: var(--secondary);
    color: var(--black);
}

.btn-black {
    background-color: var(--black);
    color: var(--secondary);
}

.btn-black:hover {
    background-color: var(--secondary);
    color: var(--black);
}

.btn-white {
    background-color: var(--white);
    color: var(--primary);
}

.btn-white:hover {
    background-color: var(--primary);
    color: var(--white);
}



.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
