/* layout.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-image: linear-gradient(to right top, #ff9398, #ff9f87, #ffad79, #fbbe70, #ecd06f);*/
}

/*.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25rem;
}*/

:root {
    --primary: #ff9398;
    --secondary: #ecd06f;
    --white: #f7f7f7;
    --black: #000;
    }

.center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.btn {
    padding: 15px 30px;
    border-radius: 6px;
    border: none;
    transition: ease 1s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn.button-top-left{
    margin: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.btn.button-buttom-left {
    margin: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.btn.button-center  {
    position: fixed;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}


.btn.button-bottom-right {
    margin: 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}



.btn-primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--white);
    color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--black);
}

.btn-secondary:hover {
    background-color: var(--black);
    color: var(--secondary);
}

.btn-black {
    background-color: var(--black);
    color: var(--secondary);
}

.btn-black:hover {
    background-color: var(--secondary);
    color: var(--black);
}

.btn-white {
    background-color: var(--white);
    color: var(--primary);
}

.btn-white:hover {
    background-color: var(--primary);
    color: var(--white);
}

