/* layout.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-image: linear-gradient(to right top, #ff9398, #ff9f87, #ffad79, #fbbe70, #ecd06f);*/
}

/*.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25rem;
}*/

:root {
    --primary: #ff9398;
    --secondary: #ecd06f;
    --white: #f7f7f7;
    --black: #000;
    }